.inner_main1{
  margin: auto;
  width: 80%;
  float: left;
  background-image: image();
}

.inner_main2{
  margin: auto;
  width: 80%;
  float: right;
  background-image: image();
}

.inner_main3{
  margin: auto;
  width: 80%;
  float: left;
  background-image: image();
}

.inner_main4{
  margin: auto;
  width: 80%;
  float: right;
  background-image: image();
}
