.wrap{
  margin: auto;
  width: 500px;
  padding-top: 50px;
  background-color: grey;
  height: 700px;
}

ul{
  display: inline;
  font-size-adjust: auto;
}

li{
  text-decoration: underline;
  display: inline;
  padding-right: 20px;
}
