html,body{
  height: 100%;
}

/*Hero Unit - css*/

.hero-unit {
  width: 100%;
}

.half-col {
  height: 50%;
}

#Joey
{
    background-image: url('./images/hiking.jpg');
}
.col-2 {
  width: 50%;
}

.col-3{
  background: pink;
}


.hero-unit,.hero-unit .full-col {
  height: 100%;
  float:left;
}



.col-1,.col-3 {
  width: 25%;
  }

.half-width {
  width: 50%;
}

#backpack {
  background-image: url('./images/backpack.jpg');
   position: relative;
top: 50%;
transform: translateY(-100%);
background-size: cover;
}

#backpack:after {
    content:' ';
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}
#backpack:hover:after {
    opacity:1;
}

#Joey {
  background-image: url('./images/hiking.jpg');
  position: relative;
top: 50%;
transform: translateY(-100%);
  background-size: cover;
}

#Joey{
    
 -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#Joey:hover{
    -webkit-filter: blur(1px);
}

#Joey:after {
    content:' ';
    display: block;
    background: url('./images/arrow.png');
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    
}
#Joey:hover:after {
    opacity:1;
}

#school {
  background-image: url('./images/rain.jpg');
   position: relative;
top: 50%;
transform: translateY(-100%);
background-size: cover;
}

#school:after {
    content:' ';
    color:#fff;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
}
#school:hover:after {
    opacity:1;
}

.caption {
  position: absolute;
  height: 100%;
  width: 100%;
}

.caption-text {
  position: absolute;;
  bottom: 2%;
  right:2%;
  color: whitesmoke;
  font-family: 'Roboto';
  font-size: 25px;
}



/*End Of Hero Unit - css*/

ul{
  list-style: none;
}

.wrap{
  margin: auto;
  width: 100%;
}

.home_page{
  margin: auto;
  background-image: image(images/page_background.jpg);
}

#navitems ul li{

  display: block;
  list-style: none;
  padding-right: 50px;
  height: 50px;
  padding-top: 10px;
  float: left;
  font-family: 'Pacifico', cursive;
  font-size: 30px;

}



a{
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

footer{
  float: left;
  margin-top: 50px;
  border-width: 1px;
  font-family: 'Pacifico', cursive;
   background-color: #222;
    min-height: 260px;
    overflow: hidden;
    text-align: center;
    clear: both;
    position: relative;
    z-index: 1000;
}

#footer_allpages{
  display: block;
  float: left;
  padding: 2% 5%;
  width: 90%;
}

.hero{
  height: 400px;
  margin: auto;
}

.ul_hm {
    float: left;
    text-align: left;
    width: 16%;
  }

  .ul_hm li{
    line-height: 17px;
  }
.fhead {
     font-size: 20px;
     margin-bottom: 30px;

}

.main{
  height: 400px;
}
